.table-row {

  &__timetable {
    display: flex;

    border-bottom: 2px solid var(--accent-dark);
  }

  .table-cell {
    &:first-child {
      border-left: 2px solid var(--accent-dark);
    }
  }
}
